/* media queries  */
@media (max-width: 991px) {
  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  header .fa-bars {
    display: block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header #toggler:checked ~ .navbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar li {
    margin: 0.2rem;
    padding: 0.1rem;
    background: #fff;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 450px) {
  html {
    font-size: 100%;
  }
}
